# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Editor backup files
*~

# R build files
*.d
Makedeps
all.R
*.inn

/bin/
/library/
/include/
/Makeconf
/Makefile
/Makefrag.cc
/Makefrag.cc_lo
/Makefrag.cxx
/Makefrag.m
/config.log
/config.status
/doc/FAQ
/doc/Makefile
/doc/RESOURCES
/doc/html/Makefile
/doc/html/resources.html
/doc/manual/Makefile
/etc/Makeconf
/etc/Makefile
/etc/Renviron
/etc/javaconf
/etc/ldpaths
/libtool
/m4/Makefile
/non-tarball
/po/Makefile
/share/Makefile
/src/Makefile
/src/appl/Makefile
/src/extra/Makefile
/src/extra/blas/Makefile
/src/extra/bzip2/Makefile
/src/extra/intl/Makefile
/src/extra/pcre/Makefile
/src/extra/tre/Makefile
/src/extra/tzone/Makefile
/src/extra/xdr/Makefile
/src/extra/xz/Makefile
/src/extra/zlib/Makefile
/src/include/Makefile
/src/include/R_ext/Makefile
/src/include/Rmath.h0
/src/include/config.h
/src/include/stamp-h
/src/library/Makefile
/src/library/Recommended/Makefile
/src/library/base/DESCRIPTION
/src/library/base/Makefile
/src/library/compiler/DESCRIPTION
/src/library/compiler/Makefile
/src/library/datasets/DESCRIPTION
/src/library/datasets/Makefile
/src/library/grDevices/DESCRIPTION
/src/library/grDevices/Makefile
/src/library/grDevices/src/Makefile
/src/library/grDevices/src/cairo/Makefile
/src/library/graphics/DESCRIPTION
/src/library/graphics/Makefile
/src/library/graphics/src/Makefile
/src/library/grid/DESCRIPTION
/src/library/grid/Makefile
/src/library/grid/src/Makefile
/src/library/methods/DESCRIPTION
/src/library/methods/Makefile
/src/library/methods/src/Makefile
/src/library/parallel/DESCRIPTION
/src/library/parallel/Makefile
/src/library/parallel/src/Makefile
/src/library/profile/Makefile
/src/library/splines/DESCRIPTION
/src/library/splines/Makefile
/src/library/splines/src/Makefile
/src/library/stats/DESCRIPTION
/src/library/stats/Makefile
/src/library/stats/src/Makefile
/src/library/stats4/DESCRIPTION
/src/library/stats4/Makefile
/src/library/tcltk/DESCRIPTION
/src/library/tcltk/Makefile
/src/library/tcltk/src/Makefile
/src/library/tools/DESCRIPTION
/src/library/tools/Makefile
/src/library/tools/src/Makefile
/src/library/translations/DESCRIPTION
/src/library/translations/Makefile
/src/library/utils/DESCRIPTION
/src/library/utils/Makefile
/src/library/utils/src/Makefile
/src/main/Makefile
/src/modules/Makefile
/src/modules/X11/Makefile
/src/modules/internet/Makefile
/src/modules/lapack/Makefile
/src/modules/vfonts/Makefile
/src/nmath/Makefile
/src/nmath/standalone/Makefile
/src/scripts/Makefile
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/javareconf
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/scripts/rtags
/src/unix/Makefile
/tests/Embedding/Makefile
/tests/Examples/Makefile
/tests/Makefile
/tools/Makefile

/SVN-REVISION-tmp
/doc/NEWS
/doc/NEWS.pdf
/doc/NEWS.rds
/doc/R.1
/doc/html/NEWS.html
/doc/html/index.html
/doc/html/packages.html
/doc/manual/R-FAQ.html
/doc/manual/R-admin.html
/doc/manual/R-data.html
/doc/manual/R-exts.html
/doc/manual/R-intro.html
/doc/manual/R-ints.html
/doc/manual/R-lang.html
/doc/manual/stamp-images-html
/doc/manual/version.texi
/src/include/R.ts
/src/include/R_ext/Applic.ts
/src/include/R_ext/Arith.ts
/src/include/R_ext/BLAS.ts
/src/include/R_ext/Boolean.ts
/src/include/R_ext/Callbacks.ts
/src/include/R_ext/Complex.ts
/src/include/R_ext/Connections.ts
/src/include/R_ext/Constants.ts
/src/include/R_ext/Error.ts
/src/include/R_ext/GetX11Image.ts
/src/include/R_ext/GraphicsDevice.ts
/src/include/R_ext/GraphicsEngine.ts
/src/include/R_ext/Itermacros.ts
/src/include/R_ext/Lapack.ts
/src/include/R_ext/Linpack.ts
/src/include/R_ext/MathThreads.ts
/src/include/R_ext/Memory.ts
/src/include/R_ext/Parse.ts
/src/include/R_ext/Print.ts
/src/include/R_ext/PrtUtil.ts
/src/include/R_ext/QuartzDevice.ts
/src/include/R_ext/R-ftp-http.ts
/src/include/R_ext/RS.ts
/src/include/R_ext/RStartup.ts
/src/include/R_ext/Random.ts
/src/include/R_ext/Rdynload.ts
/src/include/R_ext/Riconv.ts
/src/include/R_ext/Utils.ts
/src/include/R_ext/Visibility.ts
/src/include/R_ext/eventloop.ts
/src/include/R_ext/libextern.ts
/src/include/R_ext/stamp-R
/src/include/R_ext/stats_package.ts
/src/include/R_ext/stats_stubs.ts
/src/include/Rconfig.h
/src/include/Rconfig.tsa
/src/include/Rdefines.ts
/src/include/Rembedded.ts
/src/include/Rinterface.ts
/src/include/Rinternals.ts
/src/include/Rmath.h
/src/include/Rmath.tsa
/src/include/Rversion.h
/src/include/Rversion.tsa
/src/include/S.ts
/src/include/stamp-R
/src/library/stamp-docs
/src/main/R.bin
/src/scripts/R.fe
/src/unix/Rscript
/stamp-java

/acinclude.m4
/aclocal.m4
/autom4te.cache/
