# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Editor backup files
*~

# R build files
*.d
Makedeps
all.R
*.inn

/bin/
/library/
/include/
/Makeconf
/Makefile
/Makefrag.cc
/Makefrag.cc_lo
/Makefrag.cxx
/Makefrag.m
/config.log
/config.status
/doc/FAQ
/doc/Makefile
/doc/RESOURCES
/doc/html/Makefile
/doc/html/resources.html
/doc/manual/Makefile
/etc/Makeconf
/etc/Makefile
/etc/Renviron
/etc/javaconf
/etc/ldpaths
/libtool
/m4/Makefile
/non-tarball
/po/Makefile
/share/Makefile
/src/Makefile
/src/appl/Makefile
/src/extra/Makefile
/src/extra/blas/Makefile
/src/extra/bzip2/Makefile
/src/extra/intl/Makefile
/src/extra/pcre/Makefile
/src/extra/tre/Makefile
/src/extra/tzone/Makefile
/src/extra/xdr/Makefile
/src/extra/xz/Makefile
/src/extra/zlib/Makefile
/src/include/Makefile
/src/include/R_ext/Makefile
/src/include/Rmath.h0
/src/include/config.h
/src/include/stamp-h
/src/library/Makefile
/src/library/Recommended/Makefile
/src/library/base/DESCRIPTION
/src/library/base/Makefile
/src/library/compiler/DESCRIPTION
/src/library/compiler/Makefile
/src/library/datasets/DESCRIPTION
/src/library/datasets/Makefile
/src/library/grDevices/DESCRIPTION
/src/library/grDevices/Makefile
/src/library/grDevices/src/Makefile
/src/library/grDevices/src/cairo/Makefile
/src/library/graphics/DESCRIPTION
/src/library/graphics/Makefile
/src/library/graphics/src/Makefile
/src/library/grid/DESCRIPTION
/src/library/grid/Makefile
/src/library/grid/src/Makefile
/src/library/methods/DESCRIPTION
/src/library/methods/Makefile
/src/library/methods/src/Makefile
/src/library/parallel/DESCRIPTION
/src/library/parallel/Makefile
/src/library/parallel/src/Makefile
/src/library/profile/Makefile
/src/library/splines/DESCRIPTION
/src/library/splines/Makefile
/src/library/splines/src/Makefile
/src/library/stats/DESCRIPTION
/src/library/stats/Makefile
/src/library/stats/src/Makefile
/src/library/stats4/DESCRIPTION
/src/library/stats4/Makefile
/src/library/tcltk/DESCRIPTION
/src/library/tcltk/Makefile
/src/library/tcltk/src/Makefile
/src/library/tools/DESCRIPTION
/src/library/tools/Makefile
/src/library/tools/src/Makefile
/src/library/translations/DESCRIPTION
/src/library/translations/Makefile
/src/library/utils/DESCRIPTION
/src/library/utils/Makefile
/src/library/utils/src/Makefile
/src/main/Makefile
/src/modules/Makefile
/src/modules/X11/Makefile
/src/modules/internet/Makefile
/src/modules/lapack/Makefile
/src/modules/vfonts/Makefile
/src/nmath/Makefile
/src/nmath/standalone/Makefile
/src/scripts/Makefile
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/javareconf
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/scripts/rtags
/src/unix/Makefile
/tests/Embedding/Makefile
/tests/Examples/Makefile
/tests/Makefile
/tools/Makefile

/SVN-REVISION-tmp
/doc/NEWS
/doc/NEWS.pdf
/doc/NEWS.rds
/doc/R.1
/doc/html/NEWS.html
/doc/html/index.html
/doc/html/packages.html
/doc/manual/R-FAQ.html
/doc/manual/R-admin.html
/doc/manual/R-data.html
/doc/manual/R-exts.html
/doc/manual/R-intro.html
/doc/manual/R-ints.html
/doc/manual/R-lang.html
/doc/manual/stamp-images-html
/doc/manual/version.texi
/src/include/R.ts
/src/include/R_ext/Applic.ts
/src/include/R_ext/Arith.ts
/src/include/R_ext/BLAS.ts
/src/include/R_ext/Boolean.ts
/src/include/R_ext/Callbacks.ts
/src/include/R_ext/Complex.ts
/src/include/R_ext/Connections.ts
/src/include/R_ext/Constants.ts
/src/include/R_ext/Error.ts
/src/include/R_ext/GetX11Image.ts
/src/include/R_ext/GraphicsDevice.ts
/src/include/R_ext/GraphicsEngine.ts
/src/include/R_ext/Itermacros.ts
/src/include/R_ext/Lapack.ts
/src/include/R_ext/Linpack.ts
/src/include/R_ext/MathThreads.ts
/src/include/R_ext/Memory.ts
/src/include/R_ext/Parse.ts
/src/include/R_ext/Print.ts
/src/include/R_ext/PrtUtil.ts
/src/include/R_ext/QuartzDevice.ts
/src/include/R_ext/Rallocators.ts
/src/include/R_ext/R-ftp-http.ts
/src/include/R_ext/RS.ts
/src/include/R_ext/RStartup.ts
/src/include/R_ext/Random.ts
/src/include/R_ext/Rdynload.ts
/src/include/R_ext/Riconv.ts
/src/include/R_ext/Utils.ts
/src/include/R_ext/Visibility.ts
/src/include/R_ext/eventloop.ts
/src/include/R_ext/libextern.ts
/src/include/R_ext/stamp-R
/src/include/R_ext/stats_package.ts
/src/include/R_ext/stats_stubs.ts
/src/include/Rconfig.h
/src/include/Rconfig.tsa
/src/include/Rdefines.ts
/src/include/Rembedded.ts
/src/include/Rinterface.ts
/src/include/Rinternals.ts
/src/include/Rmath.h
/src/include/Rmath.tsa
/src/include/Rversion.h
/src/include/Rversion.tsa
/src/include/S.ts
/src/include/stamp-R
/src/library/stamp-docs
/src/main/R.bin
/src/scripts/R.fe
/src/unix/Rscript
/stamp-java

/src/nmath/standalone/bd0.c
/src/nmath/standalone/bessel_i.c
/src/nmath/standalone/bessel_j.c
/src/nmath/standalone/bessel_k.c
/src/nmath/standalone/bessel_y.c
/src/nmath/standalone/beta.c
/src/nmath/standalone/chebyshev.c
/src/nmath/standalone/choose.c
/src/nmath/standalone/cospi.c
/src/nmath/standalone/d1mach.c
/src/nmath/standalone/dbeta.c
/src/nmath/standalone/dbinom.c
/src/nmath/standalone/dcauchy.c
/src/nmath/standalone/dchisq.c
/src/nmath/standalone/dexp.c
/src/nmath/standalone/df.c
/src/nmath/standalone/dgamma.c
/src/nmath/standalone/dgeom.c
/src/nmath/standalone/dhyper.c
/src/nmath/standalone/dlnorm.c
/src/nmath/standalone/dlogis.c
/src/nmath/standalone/dnbeta.c
/src/nmath/standalone/dnbinom.c
/src/nmath/standalone/dnchisq.c
/src/nmath/standalone/dnf.c
/src/nmath/standalone/dnorm.c
/src/nmath/standalone/dnt.c
/src/nmath/standalone/dpois.c
/src/nmath/standalone/dt.c
/src/nmath/standalone/dunif.c
/src/nmath/standalone/dweibull.c
/src/nmath/standalone/expm1.c
/src/nmath/standalone/fmax2.c
/src/nmath/standalone/fmin2.c
/src/nmath/standalone/fprec.c
/src/nmath/standalone/fround.c
/src/nmath/standalone/fsign.c
/src/nmath/standalone/ftrunc.c
/src/nmath/standalone/gamma.c
/src/nmath/standalone/gamma_cody.c
/src/nmath/standalone/gammalims.c
/src/nmath/standalone/i1mach.c
/src/nmath/standalone/imax2.c
/src/nmath/standalone/imin2.c
/src/nmath/standalone/lbeta.c
/src/nmath/standalone/lgamma.c
/src/nmath/standalone/lgammacor.c
/src/nmath/standalone/log1p.c
/src/nmath/standalone/mlutils.c
/src/nmath/standalone/pbeta.c
/src/nmath/standalone/pbinom.c
/src/nmath/standalone/pcauchy.c
/src/nmath/standalone/pchisq.c
/src/nmath/standalone/pexp.c
/src/nmath/standalone/pf.c
/src/nmath/standalone/pgamma.c
/src/nmath/standalone/pgeom.c
/src/nmath/standalone/phyper.c
/src/nmath/standalone/plnorm.c
/src/nmath/standalone/plogis.c
/src/nmath/standalone/pnbeta.c
/src/nmath/standalone/pnbinom.c
/src/nmath/standalone/pnchisq.c
/src/nmath/standalone/pnf.c
/src/nmath/standalone/pnorm.c
/src/nmath/standalone/pnt.c
/src/nmath/standalone/polygamma.c
/src/nmath/standalone/ppois.c
/src/nmath/standalone/pt.c
/src/nmath/standalone/ptukey.c
/src/nmath/standalone/punif.c
/src/nmath/standalone/pweibull.c
/src/nmath/standalone/qbeta.c
/src/nmath/standalone/qbinom.c
/src/nmath/standalone/qcauchy.c
/src/nmath/standalone/qchisq.c
/src/nmath/standalone/qexp.c
/src/nmath/standalone/qf.c
/src/nmath/standalone/qgamma.c
/src/nmath/standalone/qgeom.c
/src/nmath/standalone/qhyper.c
/src/nmath/standalone/qlnorm.c
/src/nmath/standalone/qlogis.c
/src/nmath/standalone/qnbeta.c
/src/nmath/standalone/qnbinom.c
/src/nmath/standalone/qnchisq.c
/src/nmath/standalone/qnf.c
/src/nmath/standalone/qnorm.c
/src/nmath/standalone/qnt.c
/src/nmath/standalone/qpois.c
/src/nmath/standalone/qt.c
/src/nmath/standalone/qtukey.c
/src/nmath/standalone/qunif.c
/src/nmath/standalone/qweibull.c
/src/nmath/standalone/rbeta.c
/src/nmath/standalone/rbinom.c
/src/nmath/standalone/rcauchy.c
/src/nmath/standalone/rchisq.c
/src/nmath/standalone/rexp.c
/src/nmath/standalone/rf.c
/src/nmath/standalone/rgamma.c
/src/nmath/standalone/rgeom.c
/src/nmath/standalone/rhyper.c
/src/nmath/standalone/rlnorm.c
/src/nmath/standalone/rlogis.c
/src/nmath/standalone/rmultinom.c
/src/nmath/standalone/rnbinom.c
/src/nmath/standalone/rnchisq.c
/src/nmath/standalone/rnorm.c
/src/nmath/standalone/rpois.c
/src/nmath/standalone/rt.c
/src/nmath/standalone/runif.c
/src/nmath/standalone/rweibull.c
/src/nmath/standalone/sexp.c
/src/nmath/standalone/sign.c
/src/nmath/standalone/signrank.c
/src/nmath/standalone/snorm.c
/src/nmath/standalone/std_unif.c
/src/nmath/standalone/stirlerr.c
/src/nmath/standalone/toms708.c
/src/nmath/standalone/wilcox.c
/src/nmath/standalone/check.log

/src/library/Recommended

SVN-REVISION